Submit an executed Jupyter notebook (.ipynb) file on CMS with the following sections:
Research question(s). State your research question (s) clearly.

Data cleaning. Have an initial draft of your data cleaning appendix. Document every step that takes your raw data file(s) and turns it into the analysis-ready data set that you would submit with your final project. All of your data cleaning code should be found in this section, and you may want to explain the steps of your data cleaning in words as well. 

Data description. Have an initial draft of your data description section. Your data description should be about your analysis-ready data. 

Data limitations. Identify any potential problems with your dataset. 

Exploratory data analysis. Perform an (initial) exploratory data analysis. 

Questions for reviewers. List specific questions for your peer reviewers and project mentor to answer in giving you feedback on this phase.

Research Question: What combination of statcast statistics best predicts a player's performance in a single season?
What combination of statcast statistics best predicts a player's offensive performance in terms of OPS+, wrC+, wOBA?
What combination of statcast statistics best predicts a player's UBR?
What combination of statcast statistics best predicts a pitcher's performance? (in terms of the same offensive stats in reverse, or other stats)

Geoff, Jonas, Brendan

In [5]:
import pandas as pd
ops_data = pd.read_csv("2019_batter_OPS+.csv")
ops_data.head()
ops_data.dropna()

                                     --- When using SR data  please cite us and provide a link and/or a mention.
Rk   Name                        Age                   OPS+                                        Pos Summary
2    José Abreu\abreujo02        32                     118                                                *3D
3    Ronald Acuna Jr.\acunaro01  21                     121                                             *879/H
5    Cristhian Adames#\adamecr01 27                      99                                               /H45
6    Willy Adames\adamewi01      23                      96                                               *6/H
...                                                     ...                                                ...
1549 Bradley Zimmer*\zimmebr01   26                     -78                                               /H98
1551 Ryan Zimmerman\zimmery01    34                      88                                               3/HD
1552 Jordan Zimmermann\zimmejo02 33                    -100                                                  1
1553 Ben Zobrist#\zobribe01      38                      79                                           49/7HD16
1554 Mike Zunino\zuninmi01       28                      45                                                2/H

[1164 rows x 2 columns]

In [4]:
statcast_stats = pd.read_csv("statcast_stats_2019.csv")
statcast_stats.head()

,last_name,first_name,year,xba,xslg,xwoba,xobp,xiso,exit_velocity_avg,launch_angle_avg,...,flyballs_percent,flyballs,linedrives_percent,linedrives,popups_percent,popups,n_bolts,hp_to_1b,sprint_speed,Unnamed: 59
0,Pujols,Albert,2019,0.253,0.433,0.322,0.317,0.180,88.3,12.6,...,26.7,115,16.9,73,10.2,44,0,5.02,22.5,NaN
1,Cabrera,Miguel,2019,0.272,0.443,0.336,0.340,0.171,90.3,12.3,...,22.3,87,27.9,109,4.9,19,0,4.95,23.5,NaN
2,Choo,Shin-Soo,2019,0.266,0.480,0.365,0.373,0.214,91.9,9.2,...,22.3,89,23.6,94,3.5,14,0,4.35,26.6,NaN
3,Jones,Adam,2019,0.258,0.434,0.321,0.313,0.177,86.1,13.4,...,25.8,100,21.2,82,9.0,35,0,4.48,26.8,NaN
4,Cruz,Nelson,2019,0.294,0.643,0.420,0.382,0.349,93.7,13.1,...,24.8,81,27.0,88,7.7,25,0,4.73,25.3,NaN

In [5]:
ubr_stats = pd.read_csv("2019 FanGraphs UBR Stats.csv")
ubr_stats.head()

,Team,PA,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,Spd,BABIP,UBR,wGDP,wSB,wRC,wRAA,wOBA,wRC+
0,Astros,6394,10.1%,18.2%,0.55,0.274,0.352,0.495,0.848,0.221,4.3,0.296,-3.7,-4.0,-1.8,996,191.8,0.355,125
1,Twins,6392,8.2%,20.9%,0.39,0.270,0.338,0.494,0.832,0.224,3.5,0.300,-6.5,4.9,-6.8,953,148.8,0.347,116
2,Yankees,6245,9.1%,23.0%,0.40,0.267,0.339,0.490,0.829,0.222,4.1,0.306,0.2,0.8,-1.8,928,141.7,0.346,117
3,Dodgers,6281,9.7%,21.6%,0.45,0.257,0.338,0.472,0.810,0.215,4.2,0.291,2.8,5.2,3.9,885,94.0,0.338,111
4,Red Sox,6475,9.1%,21.3%,0.43,0.269,0.340,0.466,0.806,0.197,4.3,0.313,-4.5,0.3,-2.8,915,100.1,0.338,106

In [6]:
wrc_stats = pd.read_csv("FanGraphs WRC+ Data.csv")
wrc_stats.head()

,Team,G,PA,HR,R,RBI,SB,BB%,K%,ISO,...,AVG,OBP,SLG,wOBA,wRC+,EV,BsR,Off,Def,WAR
0,Astros,2309,6394,288,920,891,67,10.1%,18.2%,0.221,...,0.274,0.352,0.495,0.355,125,88.3,-9.5,196.3,-2.5,40.8
1,Dodgers,2413,6281,279,886,861,57,9.7%,21.6%,0.215,...,0.257,0.338,0.472,0.338,111,89.3,11.9,102.7,51.7,34.8
2,Yankees,2312,6245,306,943,904,55,9.1%,23.0%,0.222,...,0.267,0.339,0.490,0.346,117,90.0,-0.8,130.5,-14.5,32.7
3,Twins,2320,6392,307,939,906,28,8.2%,20.9%,0.224,...,0.270,0.338,0.494,0.347,116,89.7,-8.4,120.0,-26.7,31.0
4,Athletics,2363,6269,257,845,800,49,9.2%,21.3%,0.199,...,0.249,0.327,0.448,0.327,107,89.4,-1.7,53.2,18.3,28.5