Submit an executed Jupyter notebook (.ipynb) file on CMS with the following sections:
Research question(s). State your research question (s) clearly.

Data cleaning. Have an initial draft of your data cleaning appendix. Document every step that takes your raw data file(s) and turns it into the analysis-ready data set that you would submit with your final project. All of your data cleaning code should be found in this section, and you may want to explain the steps of your data cleaning in words as well. 

Data description. Have an initial draft of your data description section. Your data description should be about your analysis-ready data. 

Data limitations. Identify any potential problems with your dataset. 

Exploratory data analysis. Perform an (initial) exploratory data analysis. 

Questions for reviewers. List specific questions for your peer reviewers and project mentor to answer in giving you feedback on this phase.

Research Question: What combination of statcast statistics best predicts a player's performance in a single season?
What combination of statcast statistics best predicts a player's offensive performance in terms of OPS+, wrC+, wOBA?
What combination of statcast statistics best predicts a player's UBR?
What combination of statcast statistics best predicts a pitcher's performance? (in terms of the same offensive stats in reverse, or other stats)

Geoff, Jonas, Brendan

In [ ]:
####################################
# Final Dataframes used for analysis
####################################

###############################
# Final 2019 DataFrame
###############################
statcast_2019_final = statcast_stats_2019
statcast_2019_final.to_csv(r'2019_statcast_data_final.csv', index = False)
statcast_2019_final

###################################
# Final 2018 DataFrame
###################################
statcast_2018_final = statcast_stats_2018
statcast_2018_final.to_csv(r'2018_statcast_data_final.csv', index = False)
statcast_2018_final

###################################
# Final 2017 DataFrame
###################################
statcast_2017_final = statcast_stats_2017
statcast_2017_final.to_csv(r'2017_statcast_data_final.csv', index = False)
statcast_2017_final


###################################
# Final 2016 DataFrame
###################################
statcast_2016_final = statcast_stats_2016
statcast_2016_final.to_csv(r'2016_statcast_data_final.csv', index = False)
statcast_2016_final


###################################
# Final 2015 DataFrame
###################################
statcast_2015_final = statcast_stats_2015
statcast_2015_final.to_csv(r'2015_statcast_data_final.csv', index = False)
statcast_2015_final

In [370]:
import pandas as pd
##################################
# OPS+ 2019 Stats
##################################

ops_data_2019 = pd.read_csv("2019_batter_OPS+.csv")
ops_data_2019.rename(columns = {'OPS+': 'OPS_Plus'}, inplace = True)
ops_data_2019 = ops_data_2019[ops_data_2019.PA > 502]
ops_data_2019 = ops_data_2019.reset_index()
ops_data_2019 = ops_data_2019[['Name', 'OPS_Plus']]
ops_data_2019 = ops_data_2019.drop([92,136], axis = 0)
ops_data_2019 = ops_data_2019.reset_index()
ops_data_2019 = ops_data_2019.drop(['index'], axis=1)
for i in range(len(ops_data_2019['Name'])):
    name_var = ops_data_2019['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]
ops_data_2019 = ops_data_2019.sort_values('Name')
#################################### 
# Final OPS+ 2019 DF
###################################
ops_2019_final = ops_data_2019
ops_2019_final

                     Name  OPS_Plus
0         Abreu\abreujo02     118.0
1     Acuna Jr.\acunaro01     121.0
2        Adames\adamewi01      96.0
3         Ahmed\ahmedni01      92.0
4       Alberto\alberha01      98.0
..                    ...       ...
130         Voit\voitlu01     123.0
131      Votto*\vottojo01      96.0
132      Walker\walkech02     111.0
133        Wong*\wongko01     108.0
134     Yelich*\yelicch01     179.0

[135 rows x 2 columns]

In [371]:
##################
# UBR 2019 Stats
##################
ubr_stats_2019 = pd.read_csv("UBR_wRC+_data_2019.csv")

ubr_stats_2019 = ubr_stats_2019[['Name', 'UBR']]
for i in range(len(ubr_stats_2019['Name'])):
    name_var = ubr_stats_2019['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]

ubr_stats_2019 = ubr_stats_2019.sort_values('Name')

ubr_stats_2019 = ubr_stats_2019.reset_index()

ubr_stats_2019 = ubr_stats_2019.drop(['index'], axis=1)

### Manual UBR Section ###
Amed, Eddie = ubr_stats_2019.iloc[106], ubr_stats_2019.iloc[107]
temp = ubr_stats_2019.iloc[106].copy()
ubr_stats_2019.iloc[106] = Eddie
ubr_stats_2019.iloc[107] = temp

Danny, Carlos = ubr_stats_2019.iloc[109], ubr_stats_2019.iloc[110]
temp = ubr_stats_2019.iloc[109].copy()
ubr_stats_2019.iloc[109] = Carlos
ubr_stats_2019.iloc[110] = temp

### End of Manual Section
#################################### Final UBR 2019 DF
###################################
ubr_2019_final = ubr_stats_2019
ubr_2019_final

           Name  UBR
0         Abreu -3.0
1     Acuna Jr.  4.6
2        Adames  1.8
3         Ahmed  2.4
4       Alberto -0.2
..          ...  ...
130        Voit -3.1
131       Votto -3.0
132      Walker  2.0
133        Wong  2.4
134      Yelich  3.2

[135 rows x 2 columns]

In [372]:
#################
# wRC+ 2019 Stats
#################
wrc_stats_2019 = pd.read_csv("UBR_wRC+_data_2019.csv")
wrc_stats_2019.rename(columns = {'wRC+': 'wRC_Plus'}, inplace = True)
wrc_stats_2019 = wrc_stats_2019[['Name', 'wRC_Plus']]
for i in range(len(wrc_stats_2019['Name'])):
    name_var = wrc_stats_2019['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]
wrc_stats_2019 = wrc_stats_2019.sort_values('Name')

wrc_stats_2019 = wrc_stats_2019.reset_index()
wrc_stats_2019 = wrc_stats_2019.drop(['index'], axis=1)
### Manual wRC+ Section ###
Amed2, Eddie2 = wrc_stats_2019.iloc[106], wrc_stats_2019.iloc[107]
temp = wrc_stats_2019.iloc[106].copy()
wrc_stats_2019.iloc[106] = Eddie2
wrc_stats_2019.iloc[107] = temp

Danny2, Carlos2 = wrc_stats_2019.iloc[109], wrc_stats_2019.iloc[110]
temp = wrc_stats_2019.iloc[109].copy()
wrc_stats_2019.iloc[109] = Carlos2
wrc_stats_2019.iloc[110] = temp

### End of Manual Section
#################################### Final wRC+ 2019 DF
###################################
wrc_2019_final = wrc_stats_2019
wrc_2019_final

           Name  wRC_Plus
0         Abreu       117
1     Acuna Jr.       126
2        Adames        97
3         Ahmed        91
4       Alberto        96
..          ...       ...
130        Voit       126
131       Votto       101
132      Walker       112
133        Wong       108
134      Yelich       174

[135 rows x 2 columns]

In [735]:

##################################
#2019 Statcast Data
##################################
statcast_stats_2019 = pd.read_csv("statcast_stats_2019.csv")

statcast_stats_2019 = statcast_stats_2019.drop(['Unnamed: 59'], axis=1)
statcast_stats_2019.rename(columns = {' first_name': 'first_name'}, inplace = True)
statcast_stats_2019 = statcast_stats_2019.sort_values('last_name')
statcast_stats_2019 = statcast_stats_2019.reset_index()
statcast_stats_2019 = statcast_stats_2019.drop(['index'], axis=1)


#####Mannual portion  DO NOT COPY FOR OTHERS
Tim, Brian = statcast_stats_2019.iloc[8], statcast_stats_2019.iloc[9]
temp = statcast_stats_2019.iloc[8].copy()
statcast_stats_2019.iloc[8] = Brian
statcast_stats_2019.iloc[9] = temp

Miguel, Asdrubal = statcast_stats_2019.iloc[26], statcast_stats_2019.iloc[27]
temp = statcast_stats_2019.iloc[26].copy()
statcast_stats_2019.iloc[26] = Asdrubal
statcast_stats_2019.iloc[27] = temp

Starling, Ketal = statcast_stats_2019.iloc[73], statcast_stats_2019.iloc[74]
temp = statcast_stats_2019.iloc[73].copy()
statcast_stats_2019.iloc[73] = Ketal
statcast_stats_2019.iloc[74] = temp

Domingo, Carlos = statcast_stats_2019.iloc[109], statcast_stats_2019.iloc[111]
temp = statcast_stats_2019.iloc[109].copy()
statcast_stats_2019.iloc[109] = Carlos
statcast_stats_2019.iloc[111] = temp
####End of Mannual Portion

### OPS+ 2019 Data
statcast_stats_2019 = pd.concat([statcast_stats_2019, ops_data_2019], axis=1)
statcast_stats_2019.rename(columns ={'Name': 'OPS_Plus_Name'}, inplace = True)
###
### UBR 2019 Data
statcast_stats_2019 = pd.concat([statcast_stats_2019, ubr_stats_2019], axis=1)
statcast_stats_2019.rename(columns ={'Name': 'UBR_Name'}, inplace = True)
###
### wRC+ 2019 Data
statcast_stats_2019 = pd.concat([statcast_stats_2019, wrc_stats_2019], axis=1)
statcast_stats_2019.rename(columns ={'Name': 'wRC_Plus_Name'}, inplace = True)
###

###############################
# DataFrame To Use For Analysis
###############################
statcast_2019_final = statcast_stats_2019
statcast_2019_final.to_csv(r'2019_statcast_data_final.csv', index = False)
statcast_2019_final

     last_name  first_name  year  ...  UBR  wRC_Plus_Name  wRC_Plus
0        Abreu        Jose  2019  ... -3.0          Abreu       117
1    Acuna Jr.      Ronald  2019  ...  4.6      Acuna Jr.       126
2       Adames       Willy  2019  ...  1.8         Adames        97
3        Ahmed        Nick  2019  ...  2.4          Ahmed        91
4      Alberto      Hanser  2019  ... -0.2        Alberto        96
..         ...         ...   ...  ...  ...            ...       ...
130       Voit        Luke  2019  ... -3.1           Voit       126
131      Votto        Joey  2019  ... -3.0          Votto       101
132     Walker   Christian  2019  ...  2.0         Walker       112
133       Wong      Kolten  2019  ...  2.4           Wong       108
134     Yelich   Christian  2019  ...  3.2         Yelich       174

[135 rows x 65 columns]

In [715]:
#################################
# OPS+ 2018 Stats
##################################

ops_data_2018 = pd.read_csv("2018_batter_OPS+.csv")
ops_data_2018.rename(columns = {'OPS+': 'OPS_Plus'}, inplace = True)
ops_data_2018 = ops_data_2018[ops_data_2018.PA > 502]
ops_data_2018 = ops_data_2018.reset_index()
ops_data_2018 = ops_data_2018[['Name', 'OPS_Plus',]]
ops_data_2018 = ops_data_2018.drop([141], axis = 0)
ops_data_2018 = ops_data_2018.reset_index()
ops_data_2018 = ops_data_2018.drop(['index'], axis=1)

ops_data_2018 = ops_data_2018.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,129,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,131,132,133,134,135,136,137,138,139,140,141,142]) # cannot do this in place
ops_data_2018 = ops_data_2018.reset_index()
ops_data_2018 = ops_data_2018.drop(['index'], axis=1)
ops_data_2018 = ops_data_2018.drop([52], axis = 0)
ops_data_2018 = ops_data_2018.reset_index()
ops_data_2018 = ops_data_2018.drop(['index'], axis=1)
ops_data_2018 = ops_data_2018.drop([91], axis = 0)
ops_data_2018 = ops_data_2018.reset_index()
ops_data_2018 = ops_data_2018.drop(['index'], axis=1)

Dee, Alex = ops_data_2018.iloc[53],ops_data_2018.iloc[54]
temp = ops_data_2018.iloc[53].copy()
ops_data_2018.iloc[53] = Alex
ops_data_2018.iloc[54] = temp
#################################### Final OPS+ 2018 DF
###################################
ops_2018_final = ops_data_2018
ops_2018_final

                            Name  OPS_Plus
0           José Abreu\abreujo02     117.0
1        Jesus Aguilar\aguilje01     135.0
2           Nick Ahmed\ahmedni01      83.0
3        Ozzie Albies#\albieoz01     101.0
4       Yonder Alonso*\alonsyo01      98.0
..                           ...       ...
136       Joey Wendle*\wendljo01     118.0
137  Christian Yelich*\yelicch01     164.0
138       Ben Zobrist#\zobribe01     117.0
139                          NaN       NaN
140                          NaN       NaN

[141 rows x 2 columns]

In [374]:
##################
# UBR 2018 Stats
##################
ubr_stats_2018 = pd.read_csv("UBR_wRC+_data_2018.csv")

ubr_stats_2018 = ubr_stats_2018[['Name', 'UBR']]
for i in range(len(ubr_stats_2018['Name'])):
    name_var = ubr_stats_2018['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]

ubr_stats_2018 = ubr_stats_2018.sort_values('Name')

ubr_stats_2018 = ubr_stats_2018.reset_index()
#ubr_stats_2018.columns
ubr_stats_2018 = ubr_stats_2018.drop(['index'], axis=1)
## Manual Section for 2018
ubr_stats_2018 = ubr_stats_2018.drop([18], axis = 0)
ubr_stats_2018 = ubr_stats_2018.reset_index()
ubr_stats_2018 = ubr_stats_2018.drop(['index'], axis=1)

Eddie, Amed = ubr_stats_2018.iloc[112],ubr_stats_2018.iloc[113]
temp = ubr_stats_2018.iloc[112].copy()
ubr_stats_2018.iloc[112] = Amed
ubr_stats_2018.iloc[113] = temp

Teo, Cesar = ubr_stats_2018.iloc[62],ubr_stats_2018.iloc[63]
temp = ubr_stats_2018.iloc[62].copy()
ubr_stats_2018.iloc[62] = Cesar
ubr_stats_2018.iloc[63] = temp

Victor, Jose = ubr_stats_2018.iloc[86],ubr_stats_2018.iloc[87]
temp = ubr_stats_2018.iloc[86].copy()
ubr_stats_2018.iloc[86] = Jose
ubr_stats_2018.iloc[87] = temp

Tim, Brian = ubr_stats_2018.iloc[6],ubr_stats_2018.iloc[7]
temp = ubr_stats_2018.iloc[6].copy()
ubr_stats_2018.iloc[6] = Brian
ubr_stats_2018.iloc[7] = temp

Eduardo, Alcides = ubr_stats_2018.iloc[44],ubr_stats_2018.iloc[45]
temp = ubr_stats_2018.iloc[44].copy()
ubr_stats_2018.iloc[44] = Alcides
ubr_stats_2018.iloc[45] = temp
##
#################################### Final UBR 2018 DF
###################################
ubr_2018_final = ubr_stats_2018
ubr_2018_final

         Name  UBR
0       Abreu -0.7
1     Aguilar -2.4
2       Ahmed  0.9
3      Albies  4.0
4      Alonso -1.4
..        ...  ...
134    Villar  0.3
135     Votto -3.0
136    Wendle  1.3
137    Yelich  4.2
138   Zobrist  1.9

[139 rows x 2 columns]

In [421]:
#################
# wRC+ 2018 Stats
#################
wrc_stats_2018 = pd.read_csv("UBR_wRC+_data_2018.csv")
wrc_stats_2018.rename(columns = {'wRC+': 'wRC_Plus'}, inplace = True)
wrc_stats_2018.columns
wrc_stats_2018 = wrc_stats_2018[['Name', 'wRC_Plus']]
for i in range(len(wrc_stats_2018['Name'])):
    name_var = wrc_stats_2018['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]
wrc_stats_2018 = wrc_stats_2018.sort_values('Name')

wrc_stats_2018 = wrc_stats_2018.reset_index()
wrc_stats_2018 = wrc_stats_2018.drop(['index'], axis=1)
## Manual Section for 2018
wrc_stats_2018 = wrc_stats_2018.drop([18], axis = 0)
wrc_stats_2018 = wrc_stats_2018.reset_index()
wrc_stats_2018 = wrc_stats_2018.drop(['index'], axis=1)

Eddie, Amed = wrc_stats_2018.iloc[112],wrc_stats_2018.iloc[113]
temp = wrc_stats_2018.iloc[112].copy()
wrc_stats_2018.iloc[112] = Amed
wrc_stats_2018.iloc[113] = temp

Teo, Cesar = wrc_stats_2018.iloc[62],wrc_stats_2018.iloc[63]
temp = wrc_stats_2018.iloc[62].copy()
wrc_stats_2018.iloc[62] = Cesar
wrc_stats_2018.iloc[63] = temp

Victor, Jose = wrc_stats_2018.iloc[86],wrc_stats_2018.iloc[87]
temp = wrc_stats_2018.iloc[86].copy()
wrc_stats_2018.iloc[86] = Jose
wrc_stats_2018.iloc[87] = temp

Tim, Brian = wrc_stats_2018.iloc[6],wrc_stats_2018.iloc[7]
temp = wrc_stats_2018.iloc[6].copy()
wrc_stats_2018.iloc[6] = Brian
wrc_stats_2018.iloc[7] = temp

Eduardo, Alcides = wrc_stats_2018.iloc[44],wrc_stats_2018.iloc[45]
temp = wrc_stats_2018.iloc[44].copy()
wrc_stats_2018.iloc[44] = Alcides
wrc_stats_2018.iloc[45] = temp
##
#################################### Final UBR 2018 DF
###################################
wrc_2018_final = wrc_stats_2018
wrc_2018_final

         Name  wRC_Plus
0       Abreu       115
1     Aguilar       134
2       Ahmed        85
3      Albies       101
4      Alonso        97
..        ...       ...
134    Villar        93
135     Votto       130
136    Wendle       117
137    Yelich       166
138   Zobrist       123

[139 rows x 2 columns]

In [736]:
##################################
# 2018 Statcast Data
##################################
statcast_stats_2018 = pd.read_csv("statcast_stats_2018.csv")

statcast_stats_2018 = statcast_stats_2018.drop(['Unnamed: 59'], axis=1)
statcast_stats_2018.rename(columns = {' first_name': 'first_name'}, inplace = True)
statcast_stats_2018 = statcast_stats_2018.sort_values('last_name')
statcast_stats_2018 = statcast_stats_2018.reset_index()
statcast_stats_2018 = statcast_stats_2018.drop(['index'], axis=1)

#####Mannual portion  DO NOT COPY FOR OTHERS
Tim, Brian = statcast_stats_2018.iloc[6], statcast_stats_2018.iloc[7]
temp = statcast_stats_2018.iloc[6].copy()
statcast_stats_2019.iloc[6] = Brian
statcast_stats_2019.iloc[7] = temp

statcast_stats_2018 = statcast_stats_2018.drop([52], axis = 0)
statcast_stats_2018 = statcast_stats_2018.reset_index()
statcast_stats_2018 = statcast_stats_2018.drop(['index'], axis=1)

statcast_stats_2018 = statcast_stats_2018.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,128,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,129,130,131,132,133,134,135,136,137,138,139]) # cannot do this in place
statcast_stats_2018 = statcast_stats_2018.reset_index()
statcast_stats_2018 = statcast_stats_2018.drop(['index'], axis=1)

statcast_stats_2018 = statcast_stats_2018.drop([96], axis = 0)
statcast_stats_2018 = statcast_stats_2018.reset_index()
statcast_stats_2018 = statcast_stats_2018.drop(['index'], axis=1)


Tim, Brian = statcast_stats_2018.iloc[6],statcast_stats_2018.iloc[7]
temp = statcast_stats_2018.iloc[6].copy()
statcast_stats_2018.iloc[6] = Brian
statcast_stats_2018.iloc[7] = temp

Eduardo, Alcides = statcast_stats_2018.iloc[44],statcast_stats_2018.iloc[45]
temp = statcast_stats_2018.iloc[44].copy()
statcast_stats_2018.iloc[44] = Alcides
statcast_stats_2018.iloc[45] = temp

Victor, J_D = statcast_stats_2018.iloc[85],statcast_stats_2018.iloc[87]
temp = statcast_stats_2018.iloc[85].copy()
statcast_stats_2018.iloc[85] = J_D
statcast_stats_2018.iloc[87] = temp

####End of Mannual Portion

### OPS+ 2018 Data
#print(ops_data_2018)
statcast_stats_2018 = pd.concat([statcast_stats_2018, ops_data_2018], axis = 1)
statcast_stats_2018.rename(columns = {'Name': 'OPS_Plus_Name'}, inplace = True)

###
### UBR 2018 Data
statcast_stats_2018 = pd.concat([statcast_stats_2018, ubr_stats_2018], axis=1)
statcast_stats_2018.rename(columns ={'Name': 'UBR_Name'}, inplace = True)
###
### wRC+ 2018 Data

statcast_stats_2018 = pd.concat([statcast_stats_2018, wrc_stats_2018], axis=1)
statcast_stats_2018.rename(columns ={'Name': 'wRC_Plus_Name'}, inplace = True)

###

###################################
# Final 2018 DataFrame
###################################
statcast_2018_final = statcast_stats_2018
statcast_2018_final.to_csv(r'2018_statcast_data_final.csv', index = False)
statcast_2018_final

    last_name  first_name    year    xba  ...  UBR_Name  UBR  wRC_Plus_Name  wRC_Plus
0       Abreu        Jose  2018.0  0.281  ...     Abreu -0.7          Abreu     115.0
1     Aguilar       Jesus  2018.0  0.256  ...   Aguilar -2.4        Aguilar     134.0
2       Ahmed        Nick  2018.0  0.241  ...     Ahmed  0.9          Ahmed      85.0
3      Albies       Ozzie  2018.0  0.253  ...    Albies  4.0         Albies     101.0
4      Alonso      Yonder  2018.0  0.258  ...    Alonso -1.4         Alonso      97.0
..        ...         ...     ...    ...  ...       ...  ...            ...       ...
136    Wendle        Joey  2018.0  0.264  ...    Wendle  1.3         Wendle     117.0
137    Yelich   Christian  2018.0  0.323  ...    Yelich  4.2         Yelich     166.0
138   Zobrist         Ben  2018.0  0.277  ...   Zobrist  1.9        Zobrist     123.0
139       NaN         NaN     NaN    NaN  ...       NaN  NaN            NaN       NaN
140       NaN         NaN     NaN    NaN  ...       NaN  NaN            NaN       NaN

[141 rows x 65 columns]

In [717]:
##################################
# OPS+ 2017 Stats
##################################

ops_data_2017 = pd.read_csv("2017_batter_OPS+.csv")
ops_data_2017.rename(columns = {'OPS+': 'OPS_Plus'}, inplace = True)
ops_data_2017 = ops_data_2017[ops_data_2017.PA > 502]
ops_data_2017 = ops_data_2017.reset_index()
ops_data_2017 = ops_data_2017[['Name', 'OPS_Plus']]
ops_data_2017 = ops_data_2017.drop([145], axis = 0)
ops_data_2017 = ops_data_2017.reset_index()
ops_data_2017 = ops_data_2017.drop(['index'], axis=1)

ops_data_2017 = ops_data_2017.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,132,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,131,133,134,135,136,137,138,139,140,141,142,143,144]) # cannot do this in place
ops_data_2017 = ops_data_2017.reset_index()
ops_data_2017 = ops_data_2017.drop(['index'], axis=1)

ops_data_2017 = ops_data_2017.drop([140], axis = 0)
ops_data_2017 = ops_data_2017.reset_index()
ops_data_2017 = ops_data_2017.drop(['index'], axis=1)

### Manual Section
Melky, Miguel = ops_data_2017.iloc[23],ops_data_2017.iloc[24]
temp = ops_data_2017.iloc[23].copy()
ops_data_2017.iloc[23] = Miguel
ops_data_2017.iloc[24] = temp

Marwin, Carlos = ops_data_2017.iloc[51],ops_data_2017.iloc[52]
temp = ops_data_2017.iloc[51].copy()
ops_data_2017.iloc[51] = Carlos
ops_data_2017.iloc[52] = temp

Cory, Kyle = ops_data_2017.iloc[121],ops_data_2017.iloc[122]
temp = ops_data_2017.iloc[121].copy()
ops_data_2017.iloc[121] = Kyle
ops_data_2017.iloc[122] = temp
###
ops_data_2017

                            Name  OPS_Plus
0           José Abreu\abreujo02     141.0
1       Yonder Alonso*\alonsyo01     134.0
2          Jose Altuve\altuvjo01     160.0
3         Tim Anderson\anderti01      81.0
4         Elvis Andrus\andruel01     105.0
..                           ...       ...
138      Justin Turner\turneju01     150.0
139       Justin Upton\uptonju01     137.0
140        Joey Votto*\vottojo01     167.0
141  Christian Yelich*\yelicch01     120.0
142     Ryan Zimmerman\zimmery01     134.0

[143 rows x 2 columns]

In [718]:
##################
# UBR 2017 Stats
##################
ubr_stats_2017 = pd.read_csv("UBR_wRC+_data_2017.csv")

ubr_stats_2017 = ubr_stats_2017[['Name', 'UBR']]
for i in range(len(ubr_stats_2017['Name'])):
    name_var = ubr_stats_2017['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]

ubr_stats_2017 = ubr_stats_2017.sort_values('Name')

ubr_stats_2017 = ubr_stats_2017.reset_index()
#ubr_stats_2017.columns
ubr_stats_2017 = ubr_stats_2017.drop(['index'], axis=1)

ubr_stats_2017 = ubr_stats_2017.drop([130], axis = 0)
ubr_stats_2017 = ubr_stats_2017.reset_index()
ubr_stats_2017 = ubr_stats_2017.drop(['index'], axis=1)

### Manual Section
Yolmer, Gary = ubr_stats_2017.iloc[115],ubr_stats_2017.iloc[116]
temp = ubr_stats_2017.iloc[115].copy()
ubr_stats_2017.iloc[115] = Gary
ubr_stats_2017.iloc[116] = temp

Jose, Hanley = ubr_stats_2017.iloc[106],ubr_stats_2017.iloc[107]
temp = ubr_stats_2017.iloc[106].copy()
ubr_stats_2017.iloc[106] = Hanley
ubr_stats_2017.iloc[107] = temp

Cory, Kyle = ubr_stats_2017.iloc[121],ubr_stats_2017.iloc[122]
temp = ubr_stats_2017.iloc[121].copy()
ubr_stats_2017.iloc[121] = Kyle
ubr_stats_2017.iloc[122] = temp

Dee, Alex = ubr_stats_2017.iloc[53],ubr_stats_2017.iloc[54]
temp = ubr_stats_2017.iloc[53].copy()
ubr_stats_2017.iloc[53] = Alex
ubr_stats_2017.iloc[54] = temp

Miguel, Asdrubal = ubr_stats_2017.iloc[22],ubr_stats_2017.iloc[24]
temp = ubr_stats_2017.iloc[22].copy()
ubr_stats_2017.iloc[22] = Asdrubal
ubr_stats_2017.iloc[24] = temp

Melky, Miguel = wrc_stats_2017.iloc[23],wrc_stats_2017.iloc[24]
temp = wrc_stats_2017.iloc[23].copy()
wrc_stats_2017.iloc[23] = Miguel
wrc_stats_2017.iloc[24] = temp
###

ubr_stats_2017

           Name   UBR
0         Abreu   0.3
1        Alonso  -3.2
2        Altuve   1.2
3      Anderson   1.3
4        Andrus   5.0
..          ...   ...
138      Turner   1.0
139       Upton   2.4
140       Votto -10.1
141      Yelich   3.1
142   Zimmerman   2.4

[143 rows x 2 columns]

In [719]:

#################
# wRC+ 2017 Stats
#################
wrc_stats_2017 = pd.read_csv("UBR_wRC+_data_2017.csv")
wrc_stats_2017.rename(columns = {'wRC+': 'wRC_Plus'}, inplace = True)
wrc_stats_2017.columns
wrc_stats_2017 = wrc_stats_2017[['Name', 'wRC_Plus']]
for i in range(len(wrc_stats_2017['Name'])):
    name_var = wrc_stats_2017['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]
wrc_stats_2017 = wrc_stats_2017.sort_values('Name')

wrc_stats_2017 = wrc_stats_2017.reset_index()
wrc_stats_2017.columns
wrc_stats_2017 = wrc_stats_2017.drop(['index'], axis=1)

wrc_stats_2017 = wrc_stats_2017.drop([130], axis = 0)
wrc_stats_2017 = wrc_stats_2017.reset_index()
wrc_stats_2017 = wrc_stats_2017.drop(['index'], axis=1)

### Manual Section
Yolmer, Gary = wrc_stats_2017.iloc[115],wrc_stats_2017.iloc[116]
temp = wrc_stats_2017.iloc[115].copy()
wrc_stats_2017.iloc[115] = Gary
wrc_stats_2017.iloc[116] = temp

Jose, Hanley = wrc_stats_2017.iloc[106],wrc_stats_2017.iloc[107]
temp = wrc_stats_2017.iloc[106].copy()
wrc_stats_2017.iloc[106] = Hanley
wrc_stats_2017.iloc[107] = temp


Cory, Kyle = wrc_stats_2017.iloc[121],wrc_stats_2017.iloc[122]
temp = wrc_stats_2017.iloc[121].copy()
wrc_stats_2017.iloc[121] = Kyle
wrc_stats_2017.iloc[122] = temp


Dee, Alex = wrc_stats_2017.iloc[53],wrc_stats_2017.iloc[54]
temp = wrc_stats_2017.iloc[53].copy()
wrc_stats_2017.iloc[53] = Alex
wrc_stats_2017.iloc[54] = temp

Miguel, Asdrubal = wrc_stats_2017.iloc[22],wrc_stats_2017.iloc[24]
temp = wrc_stats_2017.iloc[22].copy()
wrc_stats_2017.iloc[22] = Asdrubal
wrc_stats_2017.iloc[24] = temp

Melky, Miguel = wrc_stats_2017.iloc[23],wrc_stats_2017.iloc[24]
temp = wrc_stats_2017.iloc[23].copy()
wrc_stats_2017.iloc[23] = Miguel
wrc_stats_2017.iloc[24] = temp
###

wrc_stats_2017

           Name  wRC_Plus
0         Abreu       139
1        Alonso       133
2        Altuve       160
3      Anderson        79
4        Andrus       105
..          ...       ...
138      Turner       151
139       Upton       137
140       Votto       163
141      Yelich       117
142   Zimmerman       137

[143 rows x 2 columns]

In [737]:
##################################
# 2017 Statcast Data
##################################
statcast_stats_2017 = pd.read_csv("statcast_stats_2017.csv")

statcast_stats_2017 = statcast_stats_2017.drop(['Unnamed: 59'], axis=1)
statcast_stats_2017.rename(columns = {' first_name': 'first_name'}, inplace = True)
statcast_stats_2017 = statcast_stats_2017.sort_values('last_name')
statcast_stats_2017 = statcast_stats_2017.reset_index()
statcast_stats_2017 = statcast_stats_2017.drop(['index'], axis=1)

statcast_stats_2017 = statcast_stats_2017.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,132,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,129,130,131,133,134,135,136,137,138,139,140,141,142,143]) # cannot do this in place
statcast_stats_2017 = statcast_stats_2017.reset_index()
statcast_stats_2017 = statcast_stats_2017.drop(['index'], axis=1)



### OPS+ 2017 Data
statcast_stats_2017 = pd.concat([statcast_stats_2017, ops_data_2017], axis=1)
statcast_stats_2017.rename(columns ={'Name': 'OPS_Plus_Name'}, inplace = True)
###
### UBR 2017 Data
statcast_stats_2017 = pd.concat([statcast_stats_2017, ubr_stats_2017], axis=1)
statcast_stats_2017.rename(columns ={'Name': 'UBR_Name'}, inplace = True)
###
### wRC+ 2017 Data
statcast_stats_2017 = pd.concat([statcast_stats_2017, wrc_stats_2017], axis=1)
statcast_stats_2017.rename(columns ={'Name': 'wRC_Plus_Name'}, inplace = True)
###
###################################
# Final 2017 DataFrame
###################################
statcast_2017_final = statcast_stats_2017
statcast_2017_final.to_csv(r'2017_statcast_data_final.csv', index = False)
statcast_2017_final

     last_name  first_name  year  ...   UBR  wRC_Plus_Name  wRC_Plus
0        Abreu        Jose  2017  ...   0.3          Abreu       139
1       Alonso      Yonder  2017  ...  -3.2         Alonso       133
2       Altuve        Jose  2017  ...   1.2         Altuve       160
3     Anderson         Tim  2017  ...   1.3       Anderson        79
4       Andrus       Elvis  2017  ...   5.0         Andrus       105
..         ...         ...   ...  ...   ...            ...       ...
138     Turner      Justin  2017  ...   1.0         Turner       151
139      Upton      Justin  2017  ...   2.4          Upton       137
140      Votto        Joey  2017  ... -10.1          Votto       163
141     Yelich   Christian  2017  ...   3.1         Yelich       117
142  Zimmerman        Ryan  2017  ...   2.4      Zimmerman       137

[143 rows x 65 columns]

In [721]:
##################################
# OPS+ 2016 Stats
##################################

ops_data_2016 = pd.read_csv("2016_batter_OPS+.csv")
ops_data_2016.rename(columns = {'OPS+': 'OPS_Plus'}, inplace = True)
ops_data_2016 = ops_data_2016[ops_data_2016.PA > 502]
ops_data_2016 = ops_data_2016.reset_index()
ops_data_2016 = ops_data_2016[['Name', 'OPS_Plus']]
ops_data_2016 = ops_data_2016.drop([146], axis = 0)
ops_data_2016 = ops_data_2016.reset_index()
ops_data_2016 = ops_data_2016.drop(['index'], axis=1)
### Manual Section
Kyle, Cory = ops_data_2016.iloc[123],ops_data_2016.iloc[124]
temp = ops_data_2016.iloc[123].copy()
ops_data_2016.iloc[123] = Cory
ops_data_2016.iloc[124] = temp

Alexia, Hanley = ops_data_2016.iloc[112],ops_data_2016.iloc[113]
temp = ops_data_2016.iloc[112].copy()
ops_data_2016.iloc[112] = Hanley
ops_data_2016.iloc[113] = temp

Hanley, Jose = ops_data_2016.iloc[112],ops_data_2016.iloc[114]
temp = ops_data_2016.iloc[112].copy()
ops_data_2016.iloc[112] = Jose
ops_data_2016.iloc[114] = temp

Carlos, Marwin = ops_data_2016.iloc[54],ops_data_2016.iloc[55]
temp = ops_data_2016.iloc[54].copy()
ops_data_2016.iloc[54] = Marwin
ops_data_2016.iloc[55] = temp

Adrian,Marwin = ops_data_2016.iloc[53],ops_data_2016.iloc[54]
temp = ops_data_2016.iloc[53]
ops_data_2016.iloc[53] = Marwin
ops_data_2016.iloc[54] = temp

Melky,Miguel = ops_data_2016.iloc[17],ops_data_2016.iloc[18]
temp = ops_data_2016.iloc[17]
ops_data_2016.iloc[17] = Miguel
ops_data_2016.iloc[18] = temp

Asdrubal,Miguel = ops_data_2016.iloc[16],ops_data_2016.iloc[17]
temp = ops_data_2016.iloc[16]
ops_data_2016.iloc[16] = Miguel
ops_data_2016.iloc[17] = temp

Justin, BJ = ops_data_2016.iloc[136],ops_data_2016.iloc[137]
temp = ops_data_2016.iloc[136].copy()
ops_data_2016.iloc[136] = BJ
ops_data_2016.iloc[137] = temp
###
ops_data_2016

                            Name  OPS_Plus
0           José Abreu\abreujo02     124.0
1       Yonder Alonso*\alonsyo01      88.0
2          Jose Altuve\altuvjo01     155.0
3         Elvis Andrus\andruel01     110.0
4        Nolan Arenado\arenano01     129.0
..                           ...       ...
141       Stephen Vogt*\vogtst01      94.0
142        Joey Votto*\vottojo01     160.0
143       Jayson Werth\werthja01      97.0
144  Christian Yelich*\yelicch01     135.0
145       Ben Zobrist#\zobribe01     121.0

[146 rows x 2 columns]

In [722]:
#################
# UBR 2016 Stats
##################
ubr_stats_2016 = pd.read_csv("UBR_wRC+_data_2016.csv")

ubr_stats_2016 = ubr_stats_2016[['Name', 'UBR']]
for i in range(len(ubr_stats_2016['Name'])):
    name_var = ubr_stats_2016['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]

ubr_stats_2016 = ubr_stats_2016.sort_values('Name')

ubr_stats_2016 = ubr_stats_2016.reset_index()
#ubr_stats_2016.columns
ubr_stats_2016 = ubr_stats_2016.drop(['index'], axis=1)
### Manual Section

Alexia, Jose = ubr_stats_2016.iloc[112],ubr_stats_2016.iloc[113]
temp = ubr_stats_2016.iloc[112].copy()
ubr_stats_2016.iloc[112] = Jose
ubr_stats_2016.iloc[113] = temp

Victor, JD = ubr_stats_2016.iloc[84],ubr_stats_2016.iloc[85]
temp = ubr_stats_2016.iloc[84].copy()
ubr_stats_2016.iloc[84] = JD
ubr_stats_2016.iloc[85] = temp

Carlos, Marwin = ubr_stats_2016.iloc[53],ubr_stats_2016.iloc[54]
temp = ubr_stats_2016.iloc[53].copy()
ubr_stats_2016.iloc[53] = Marwin
ubr_stats_2016.iloc[54] = temp

Carlos, Adrian = ubr_stats_2016.iloc[54],ubr_stats_2016.iloc[55]
temp = ubr_stats_2016.iloc[54].copy()
ubr_stats_2016.iloc[54] = Adrian
ubr_stats_2016.iloc[55] = temp

Melky, Miguel = ubr_stats_2016.iloc[16],ubr_stats_2016.iloc[18]
temp = ubr_stats_2016.iloc[16].copy()
ubr_stats_2016.iloc[16] = Miguel
ubr_stats_2016.iloc[18] = temp

Justin, BJ = ubr_stats_2016.iloc[136],ubr_stats_2016.iloc[137]
temp = ubr_stats_2016.iloc[136].copy()
ubr_stats_2016.iloc[136] = BJ
ubr_stats_2016.iloc[137] = temp

ubr_stats_2016

         Name  UBR
0       Abreu -2.7
1      Alonso -1.5
2      Altuve -0.9
3      Andrus  3.1
4     Arenado  0.3
..        ...  ...
141      Vogt  0.1
142     Votto -3.5
143     Werth  3.6
144    Yelich  3.1
145   Zobrist  4.2

[146 rows x 2 columns]

In [731]:
#################
# wRC+ 2016 Stats
#################
wrc_stats_2016 = pd.read_csv("UBR_wRC+_data_2016.csv")
wrc_stats_2016.rename(columns = {'wRC+': 'wRC_Plus'}, inplace = True)
wrc_stats_2016.columns
wrc_stats_2016 = wrc_stats_2016[['Name', 'wRC_Plus']]
for i in range(len(wrc_stats_2016['Name'])):
    name_var = wrc_stats_2016['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]
wrc_stats_2016 = wrc_stats_2016.sort_values('Name')

wrc_stats_2016 = wrc_stats_2016.reset_index()
wrc_stats_2016 = wrc_stats_2016.drop(['index'], axis=1)
### Manual Section

Alexia, Jose = wrc_stats_2016.iloc[112],wrc_stats_2016.iloc[113]
temp = wrc_stats_2016.iloc[112].copy()
wrc_stats_2016.iloc[112] = Jose
wrc_stats_2016.iloc[113] = temp

Victor, JD = wrc_stats_2016.iloc[84],wrc_stats_2016.iloc[85]
temp = wrc_stats_2016.iloc[84].copy()
wrc_stats_2016.iloc[84] = JD
wrc_stats_2016.iloc[85] = temp

Carlos, Marwin = wrc_stats_2016.iloc[53],wrc_stats_2016.iloc[54]
temp = wrc_stats_2016.iloc[53].copy()
wrc_stats_2016.iloc[53] = Marwin
wrc_stats_2016.iloc[54] = temp

Carlos, Adrian = wrc_stats_2016.iloc[54],wrc_stats_2016.iloc[55]
temp = wrc_stats_2016.iloc[54].copy()
wrc_stats_2016.iloc[54] = Adrian
wrc_stats_2016.iloc[55] = temp

Melky, Miguel = wrc_stats_2016.iloc[16],wrc_stats_2016.iloc[18]
temp = wrc_stats_2016.iloc[16].copy()
wrc_stats_2016.iloc[16] = Miguel
wrc_stats_2016.iloc[18] = temp

Justin, BJ = wrc_stats_2016.iloc[136],wrc_stats_2016.iloc[137]
temp = wrc_stats_2016.iloc[136].copy()
wrc_stats_2016.iloc[136] = BJ
wrc_stats_2016.iloc[137] = temp

wrc_stats_2016

         Name  wRC_Plus
0       Abreu       121
1      Alonso        87
2      Altuve       152
3      Andrus       109
4     Arenado       126
..        ...       ...
141      Vogt        91
142     Votto       158
143     Werth       100
144    Yelich       134
145   Zobrist       124

[146 rows x 2 columns]

In [738]:
##################################
# 2016 Statcast Data
##################################
statcast_stats_2016= pd.read_csv("statcast_stats_2016.csv")

statcast_stats_2016 = statcast_stats_2016.drop(['Unnamed: 59'], axis=1)
statcast_stats_2016.rename(columns = {' first_name': 'first_name'}, inplace = True)
statcast_stats_2016 = statcast_stats_2016.sort_values('last_name')
statcast_stats_2016 = statcast_stats_2016.reset_index()
statcast_stats_2016 = statcast_stats_2016.drop(['index'], axis=1)

### Manual Section
Russel, Leon = statcast_stats_2016.iloc[82],statcast_stats_2016.iloc[83]
temp = statcast_stats_2016.iloc[82].copy()
statcast_stats_2016.iloc[82] = Leon
statcast_stats_2016.iloc[83] = temp
###

### OPS+ 2016 Data
statcast_stats_2016 = pd.concat([statcast_stats_2016, ops_data_2016], axis=1)
statcast_stats_2016.rename(columns ={'Name': 'OPS_Plus_Name'}, inplace = True)
###
### UBR 2016 Data
statcast_stats_2016 = pd.concat([statcast_stats_2016, ubr_stats_2016], axis=1)
statcast_stats_2016.rename(columns ={'Name': 'UBR_Name'}, inplace = True)
###
### wRC+ 2016 Data
statcast_stats_2016 = pd.concat([statcast_stats_2016, wrc_stats_2016], axis=1)
statcast_stats_2016.rename(columns ={'Name': 'wRC_Plus_Name'}, inplace = True)

statcast_stats_2016 = statcast_stats_2016.drop(['hp_to_1b'], axis=1)

###
###################################
# Final 2016 DataFrame
###################################
statcast_2016_final = statcast_stats_2016
statcast_2016_final.to_csv(r'2016_statcast_data_final.csv', index = False)
statcast_2016_final

    last_name  first_name  year    xba  ...  UBR_Name  UBR  wRC_Plus_Name  wRC_Plus
0       Abreu        Jose  2016  0.284  ...     Abreu -2.7          Abreu       121
1      Alonso      Yonder  2016  0.263  ...    Alonso -1.5         Alonso        87
2      Altuve        Jose  2016  0.326  ...    Altuve -0.9         Altuve       152
3      Andrus       Elvis  2016  0.285  ...    Andrus  3.1         Andrus       109
4     Arenado       Nolan  2016  0.266  ...   Arenado  0.3        Arenado       126
..        ...         ...   ...    ...  ...       ...  ...            ...       ...
141      Vogt     Stephen  2016  0.259  ...      Vogt  0.1           Vogt        91
142     Votto        Joey  2016  0.304  ...     Votto -3.5          Votto       158
143     Werth      Jayson  2016  0.247  ...     Werth  3.6          Werth       100
144    Yelich   Christian  2016  0.312  ...    Yelich  3.1         Yelich       134
145   Zobrist         Ben  2016  0.278  ...   Zobrist  4.2        Zobrist       124

[146 rows x 64 columns]

In [725]:
##################################
# OPS+ 2015 Stats
##################################

ops_data_2015 = pd.read_csv("2015_batter_OPS+.csv")
ops_data_2015.rename(columns = {'OPS+': 'OPS_Plus'}, inplace = True)
ops_data_2015 = ops_data_2015[ops_data_2015.PA > 502]
ops_data_2015 = ops_data_2015.reset_index()
ops_data_2015 = ops_data_2015[['Name', 'OPS_Plus']]
ops_data_2015 = ops_data_2015.drop([141], axis = 0)
ops_data_2015 = ops_data_2015.reset_index()
ops_data_2015 = ops_data_2015.drop(['index'], axis=1)



ops_data_2015 = ops_data_2015.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,129,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,131,132,133,134,135,136,137,138,139,140]) # cannot do this in place
ops_data_2015 = ops_data_2015.reset_index()
ops_data_2015 = ops_data_2015.drop(['index'], axis=1)

Aramis, Alexie = ops_data_2015.iloc[113],ops_data_2015.iloc[114]
temp = ops_data_2015.iloc[113].copy()
ops_data_2015.iloc[113] = Alexie
ops_data_2015.iloc[114] = temp
##
ops_data_2015

                            Name  OPS_Plus
0           José Abreu\abreujo02     135.0
1          Jose Altuve\altuvjo01     125.0
2         Elvis Andrus\andruel01      80.0
3        Nolan Arenado\arenano01     124.0
4         Erick Aybar#\aybarer01      81.0
..                           ...       ...
136        Joey Votto*\vottojo01     174.0
137       Neil Walker#\walkene01     106.0
138        Kolten Wong*\wongko01      93.0
139  Christian Yelich*\yelicch01     118.0
140       Ben Zobrist#\zobribe01     121.0

[141 rows x 2 columns]

In [726]:
##################
# UBR 2015 Stats
##################
ubr_stats_2015 = pd.read_csv("UBR_wRC+_data_2015.csv")

ubr_stats_2015 = ubr_stats_2015[['Name', 'UBR']]
for i in range(len(ubr_stats_2015['Name'])):
    name_var = ubr_stats_2015['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]


ubr_stats_2015 = ubr_stats_2015.sort_values('Name')
ubr_stats_2015 = ubr_stats_2015.reset_index()
#ubr_stats_2015.columns
ubr_stats_2015 = ubr_stats_2015.drop(['index'], axis=1)

ubr_stats_2015 = ubr_stats_2015.reindex([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,0,130,131,132,133,134,135,136,137,138,139,140]) # cannot do this in place
ubr_stats_2015 = ubr_stats_2015.reset_index()
ubr_stats_2015 = ubr_stats_2015.drop(['index'], axis=1)
### Manual Section
Taylor, Solarte = ubr_stats_2015.iloc[129],ubr_stats_2015.iloc[130]
temp = ubr_stats_2015.iloc[129].copy()
ubr_stats_2015.iloc[129] = Solarte
ubr_stats_2015.iloc[130] = temp

Miguel, Melky = ubr_stats_2015.iloc[20],ubr_stats_2015.iloc[21]
temp = ubr_stats_2015.iloc[20].copy()
ubr_stats_2015.iloc[20] = Melky
ubr_stats_2015.iloc[21] = temp

Yanel, Alcides = ubr_stats_2015.iloc[42],ubr_stats_2015.iloc[43]
temp = ubr_stats_2015.iloc[42].copy()
ubr_stats_2015.iloc[42] = Alcides
ubr_stats_2015.iloc[43] = temp

Carlos, Adrian = ubr_stats_2015.iloc[54],ubr_stats_2015.iloc[55]
temp = ubr_stats_2015.iloc[54].copy()
ubr_stats_2015.iloc[54] = Adrian
ubr_stats_2015.iloc[55] = temp

Alexei, Aramis = ubr_stats_2015.iloc[113],ubr_stats_2015.iloc[114]
temp = ubr_stats_2015.iloc[113].copy()
ubr_stats_2015.iloc[113] = Aramis
ubr_stats_2015.iloc[114] = temp
###
ubr_stats_2015

         Name  UBR
0       Abreu -0.7
1      Altuve -3.9
2      Andrus  2.7
3     Arenado  1.6
4       Aybar  2.8
..        ...  ...
136     Votto -2.6
137    Walker  1.9
138      Wong  2.7
139    Yelich  2.0
140   Zobrist -0.5

[141 rows x 2 columns]

In [727]:
#################
# wRC+ 2015 Stats
#################
wrc_stats_2015 = pd.read_csv("UBR_wRC+_data_2015.csv")
wrc_stats_2015.rename(columns = {'wRC+': 'wRC_Plus'}, inplace = True)
wrc_stats_2015.columns
wrc_stats_2015 = wrc_stats_2015[['Name', 'wRC_Plus']]
for i in range(len(wrc_stats_2015['Name'])):
    name_var = wrc_stats_2015['Name']
    spce = name_var[i].find(' ')
    name_var[i] = name_var[i][spce:]

wrc_stats_2015 = wrc_stats_2015.sort_values('Name')
wrc_stats_2015 = wrc_stats_2015.reset_index()
wrc_stats_2015 = wrc_stats_2015.drop(['index'], axis=1)

wrc_stats_2015 = wrc_stats_2015.reindex([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,0,130,131,132,133,134,135,136,137,138,139,140]) # cannot do this in place
wrc_stats_2015 = wrc_stats_2015.reset_index()
wrc_stats_2015 = wrc_stats_2015.drop(['index'], axis=1)

### Manual Section
Taylor, Solarte = wrc_stats_2015.iloc[129],wrc_stats_2015.iloc[130]
temp = wrc_stats_2015.iloc[129].copy()
wrc_stats_2015.iloc[129] = Solarte
wrc_stats_2015.iloc[130] = temp

Miguel, Melky = wrc_stats_2015.iloc[20],wrc_stats_2015.iloc[21]
temp = wrc_stats_2015.iloc[20].copy()
wrc_stats_2015.iloc[20] = Melky
wrc_stats_2015.iloc[21] = temp

Yanel, Alcides = wrc_stats_2015.iloc[42],wrc_stats_2015.iloc[43]
temp = wrc_stats_2015.iloc[42].copy()
wrc_stats_2015.iloc[42] = Alcides
wrc_stats_2015.iloc[43] = temp

Carlos, Adrian = wrc_stats_2015.iloc[54],wrc_stats_2015.iloc[55]
temp = wrc_stats_2015.iloc[54].copy()
wrc_stats_2015.iloc[54] = Adrian
wrc_stats_2015.iloc[55] = temp

Alexei, Aramis = wrc_stats_2015.iloc[113],wrc_stats_2015.iloc[114]
temp = wrc_stats_2015.iloc[113].copy()
wrc_stats_2015.iloc[113] = Aramis
wrc_stats_2015.iloc[114] = temp
###
wrc_stats_2015

         Name  wRC_Plus
0       Abreu       131
1      Altuve       124
2      Andrus        78
3     Arenado       121
4       Aybar        78
..        ...       ...
136     Votto       174
137    Walker       106
138      Wong        96
139    Yelich       120
140   Zobrist       122

[141 rows x 2 columns]

In [739]:
##################################
# 2015 Statcast Data
##################################
statcast_stats_2015 = pd.read_csv("statcast_stats_2015.csv")

statcast_stats_2015 = statcast_stats_2015.drop(['Unnamed: 59'], axis=1)
statcast_stats_2015.rename(columns = {' first_name': 'first_name'}, inplace = True)
statcast_stats_2015 = statcast_stats_2015.sort_values('last_name')
statcast_stats_2015 = statcast_stats_2015.reset_index()
statcast_stats_2015 = statcast_stats_2015.drop(['index'], axis=1)


statcast_stats_2015 = statcast_stats_2015.drop([53], axis = 0)
statcast_stats_2015 = statcast_stats_2015.reset_index()
statcast_stats_2015 = statcast_stats_2015.drop(['index'], axis=1)

statcast_stats_2015 = statcast_stats_2015.reindex([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,129,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,130,131,132,133,134,135,136,137,138,139,140]) # cannot do this in place
statcast_stats_2015 = statcast_stats_2015.reset_index()
statcast_stats_2015 = statcast_stats_2015.drop(['index'], axis=1)


### OPS+ 2015 Data
statcast_stats_2015 = pd.concat([statcast_stats_2015, ops_data_2015], axis=1)
statcast_stats_2015.rename(columns ={'Name': 'OPS_Plus_Name'}, inplace = True)
###
### UBR 2015 Data
statcast_stats_2015 = pd.concat([statcast_stats_2015, ubr_stats_2015], axis=1)
statcast_stats_2015.rename(columns ={'Name': 'UBR_Name'}, inplace = True)
###
### wRC+ 2015 Data
statcast_stats_2015 = pd.concat([statcast_stats_2015, wrc_stats_2015], axis=1)
statcast_stats_2015.rename(columns ={'Name': 'wRC_Plus_Name'}, inplace = True)
###

###################################
# Final 2015 DataFrame
###################################
statcast_2015_final = statcast_stats_2015
statcast_2015_final.to_csv(r'2015_statcast_data_final.csv', index = False)
statcast_2015_final

    last_name  first_name  year    xba  ...  UBR_Name  UBR  wRC_Plus_Name  wRC_Plus
0       Abreu        Jose  2015  0.271  ...     Abreu -0.7          Abreu       131
1      Altuve        Jose  2015  0.268  ...    Altuve -3.9         Altuve       124
2      Andrus       Elvis  2015  0.255  ...    Andrus  2.7         Andrus        78
3     Arenado       Nolan  2015  0.270  ...   Arenado  1.6        Arenado       121
4       Aybar       Erick  2015  0.281  ...     Aybar  2.8          Aybar        78
..        ...         ...   ...    ...  ...       ...  ...            ...       ...
136     Votto        Joey  2015  0.290  ...     Votto -2.6          Votto       174
137    Walker        Neil  2015  0.253  ...    Walker  1.9         Walker       106
138      Wong      Kolten  2015  0.270  ...      Wong  2.7           Wong        96
139    Yelich   Christian  2015  0.312  ...    Yelich  2.0         Yelich       120
140   Zobrist         Ben  2015  0.265  ...   Zobrist -0.5        Zobrist       122

[141 rows x 65 columns]